<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>后台登陆页面</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
</head>

<body id="login">
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">登陆面版</h2>
            <input type="text" class="input-block-level" placeholder="请输入用户名">
            <input type="password" class="input-block-level" placeholder="请输入密码">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> 记住我的选择
            </label>
            <button class="btn btn-large btn-primary" type="submit">登&nbsp;&nbsp;陆</button>
        </form>
    </div>
    <!-- /container -->
</body>

</html>
