<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
<div class="s-content-1">
    <img src="img/1.jpg" alt="" />
    <span class="s-content-text">我是用来测试news的</span><span class="s-content-price">¥8.9</span>
</div>
