input {
    width: 100%;
}

.success .btn-primary,
.success .btn-success,
.success .btn-danger,
.success .btn-warning {
    width: 100%;
}

.active {
    padding-bottom: 5px;
}

td {
    width: 25%;
}

.container {
    width: 300px;
    height: 350px;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 2px 26px;
    margin-top: 100px;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}


}
