*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
    color: #757575;
}
a:hover{
    color: #515151;
}
body{
    background: #278D63;
}
table{
    margin: 20px auto;
}
h2,tr,td,th{
    text-align: center;
}
h2{
    margin-top: 100px;
}
table thead tr th,table tbody tr td{
    width: 100px;
    height: 40px;
    border: 1px solid #1BCC17;
    background: #dddddd;
}
table{
    padding: 3px;
    border: 1px solid #1BCC17;
    border-radius: 4px 4px 0 0;
	border-collapse:collapse;
}
